*{
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo_div {
    width: 6%;
    height: auto;
    position: relative;
    left: 5%;
    z-index: -2;
}

.img_logo {
    width: 100%;
    height: auto;
    transform: scale(2);
}

.search_div {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.search_div input {
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #f8b95f;
    width: 100%;
    height: 30px;
    outline: none;
}

.search_div input::placeholder {
    color: white;
    @media (max-width: 600px) {
        
    }
}

.profile_div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    @media (max-width:600px) {
        margin-left: -3px;
    }
}

.foto_perfil {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.menu {
    background-color: #f8b95f;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 5%;
}

.body-content .post1,
.body-content .post2,
.body-content .post3,
.body-content .post4,
.body-content .post6 {
    width: 100%;
    text-align: center;
}

.body-content img {
    width: 100%;
    height: auto;
}

.footer {
    width: 100%;
    display: flex;
    background-color: #f8b95f;
    height: 90px;
}

.left {
    width: 50%;
    text-align: center;
    color: white;
    left: -15%;
    position: relative;
}

.right {
    width: 50%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right img {
    width: 60%;
    height: auto;
    height: 80px;
    position: relative;
}

.lupa {
    width: 5%;
}

#userInfo {
    display: flex;
    align-items: center;
}

#logoutButton {
    z-index: 100;
    background-color: #f8b95f;
    width: 90px;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 100%;
    }

    .logo_div {
        width: 10%;
    }

    .profile_div {
        width: 15%;
        height: 15%;
    }

    #logoutButton {
        z-index: 100;
        background-color: #f8b95f;
        width: 50px;
        border: none;
        border-radius: 25px;
        color: white;
        cursor: pointer;
        margin-right: 10px;
    }

    .search_div input {
        position: relative;
        height: 20px;
    }

    .lupa {
        display: none;
    }

    .menu {
        width: 100%;
    }

    .menu ul li a {
        padding: 3px;
        font-size: 0.8em;
    }

    footer{
        width: 100%;
        @media(max-width: 600px) {
            margin: 0;
            align-items: end;
            width: 100%;;

        }
    }

    .footer{
        width: 100%;
        height: 50px;
        @media(max-width: 600px) {
            margin: 0;
            align-items: end;
        }
    }

    .apps_footer{
        width: 180px;
        height: 50px;
        position: relative;
        float: right;
        right: -50px;
    }

    h1{
        color: white;
        position: relative;
        top: -25%;
    }

}